//Fonts 
$mainFont: 'Spartan', sans-serif;
$mainWeight: 700;
$calcFontSize: 32px;
$themeFontSize: 12px;
$themeNumbersFontSize: 12px;
$resultInputFontSize: 48px;
$resultInputFontSizeMobile: 32px;
$delResEqualFontSize: 20px;
$delResEqualFontSizeMobile: 16px;

//Colors
$basicWhiteColor: #FEFEFE;

//Custom cursor image
$customCursor: url("../images/pointer.png"), pointer;

//Responsivnes
$tablet: 768px;
$mobile: 375px;

