* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

body {
  background-color: #3A4663;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secondTheme {
  background-color: #E6E6E6;
}

.thirdTheme {
  background-color: #17062A;
}

.container {
  margin-top: 4px;
  margin-left: 10%;
}

@media (min-width: 768px) {
  .container {
    margin-right: 12%;
    padding-top: 100px;
  }
}

@media (max-width: 375px) {
  .container {
    margin-top: 22px;
    width: 90%;
    margin-right: 38px;
    overflow-x: hidden;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.header p {
  letter-spacing: 1px;
}

@media (max-width: 375px) {
  .header {
    margin-top: 1px;
    padding-bottom: 6px;
  }
}

h1 {
  color: #FEFEFE;
  margin: 0;
  font-size: 32px;
}

.toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FEFEFE;
  font-size: 12px;
}

.toggle-container p {
  margin: 6px 16px;
}

@media (max-width: 375px) {
  .toggle-container p {
    padding-top: 20px;
  }
}

.toggle-wrapper {
  width: 71px;
  height: 26px;
  border-radius: 50px;
  background: #242D44;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 375px) {
  .toggle-wrapper {
    margin-top: 16px;
  }
}

.toggle-radio {
  position: absolute;
  left: -99999px;
}

.toggle-label {
  position: absolute;
  top: -17px;
  font-size: 12px;
  cursor: url("../images/pointer.png"), pointer;
  padding: 30px 10px;
  padding-top: 0px;
}

.toggle-label:nth-child(4) {
  left: 0px;
}

.toggle-label:nth-child(5) {
  left: 19px;
}

.toggle-label:nth-child(6) {
  right: 0px;
}

.toggle-slider {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #F96B5B;
  border-radius: 50px;
  top: 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: url("../images/pointer.png"), pointer;
}

.toggle-wrapper input:nth-child(1):checked ~ .toggle-slider {
  left: 5px;
}

.toggle-wrapper input:nth-child(2):checked ~ .toggle-slider {
  left: 25px;
}

.toggle-wrapper input:nth-child(3):checked ~ .toggle-slider {
  left: 44px;
}

#display-input, label[for=display-input] {
  position: absolute;
  left: -99999px;
}

#display-container, #display-second {
  width: 100%;
  min-height: 56px;
  background: #181F33;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
  padding-top: 24px;
  padding-bottom: 8px;
  border-radius: 12px 12px 0px 0px;
}

#display-container {
  margin-bottom: 24px;
  border-radius: 0px 0px 12px 12px;
  color: #FEFEFE;
  padding-top: 2px;
  padding-right: 24px;
  height: 80px;
}

#display-container span {
  font-size: 48px;
  white-space: nowrap;
}

@media (max-width: 375px) {
  #display-container {
    height: 1px;
    padding-top: -12px;
  }
  #display-container span {
    font-size: 32px;
  }
}

.keypad {
  background: #242D44;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
  padding: 24px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 24px;
  border-radius: 12px;
      grid-template-areas: "btn btn btn btn" "btn btn btn btn" "btn btn btn btn" "btn btn btn btn" "reset reset equal equal";
}

@media (max-width: 375px) {
  .keypad {
    width: 100%;
    margin-top: 8%;
    row-gap: 16px;
  }
}

#btn-reset {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: reset;
}

@media (max-width: 375px) {
  #btn-reset {
    width: 133px;
  }
}

#calculate {
  width: 227px;
  height: 64px;
  font-size: 20px;
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: equal;
  color: #FEFEFE;
  background-color: #D03F2F;
  -webkit-box-shadow: 0px 4px 0px #93261A;
          box-shadow: 0px 4px 0px #93261A;
  border-radius: 8px;
  border: none;
  cursor: url("../images/pointer.png"), pointer;
}

#calculate:hover {
  background-color: #F96B5B;
}

#calculate:active {
  -webkit-box-shadow: 0px 3px 0px #93261A;
          box-shadow: 0px 3px 0px #93261A;
}

@media (max-width: 375px) {
  #calculate {
    width: 136px;
    font-size: 16px;
  }
}

#btn-reset {
  background-color: #647198;
  color: #FEFEFE;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 0px #414E73;
          box-shadow: 0px 4px 0px #414E73;
  cursor: url("../images/pointer.png"), pointer;
}

#btn-reset:hover {
  background-color: #A2B2E1;
}

#btn-reset:active {
  -webkit-box-shadow: 0px 3px 0px #414E73;
          box-shadow: 0px 3px 0px #414E73;
}

@media (max-width: 375px) {
  #btn-reset {
    font-size: 16px;
  }
}

.btn {
  background-color: #EAE3DC;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 0px #B3A497;
          box-shadow: 0px 4px 0px #B3A497;
}

.btn:active {
  -webkit-box-shadow: 0px 3px 0px #B3A497;
          box-shadow: 0px 3px 0px #B3A497;
}

.btn.btn-num {
  width: 101px;
  height: 64px;
  color: #434A59;
  font-size: 32px;
  font-weight: 700;
  cursor: url("../images/pointer.png"), pointer;
}

.btn.btn-num:hover {
  background-color: #FEFEFE;
}

@media (max-width: 375px) {
  .btn.btn-num {
    width: 60px;
    font-size: 28px;
  }
}

.btn.btn-symb {
  color: #434A59;
  font-size: 32px;
  font-weight: 700;
  cursor: url("../images/pointer.png"), pointer;
}

.btn.btn-symb:hover {
  background-color: #FEFEFE;
}

@media (max-width: 375px) {
  .btn.btn-symb {
    width: 60px;
  }
}

#btn-del {
  color: #FEFEFE;
  background-color: #647198;
  -webkit-box-shadow: 0px 4px 0px #414E73;
          box-shadow: 0px 4px 0px #414E73;
  cursor: url("../images/pointer.png"), pointer;
}

#btn-del:hover {
  background-color: #A2B2E1;
}

#btn-del:active {
  -webkit-box-shadow: 0px 3px 0px #414E73;
          box-shadow: 0px 3px 0px #414E73;
}

@media (max-width: 375px) {
  #btn-del {
    width: 60px;
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */