@import 'variables';

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $mainFont;
    font-weight: $mainWeight;
}

body {
    background-color: #3A4663;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: ease 0.5s;
}

//First Theme parent inherit
.firstTheme {
    
}
//Second Theme Styling
.secondTheme {
    background-color: $mainBackgroundSecondTheme;
    .container {
        h1, p, span {
            color: $textDarkSecondTheme;
        }
    }
    .toggle-wrapper {
        background-color: $toggleBackgroundSecondTheme;
    }
    .toggle-slider {
        background-color: $keyBackgroundRedSecondTheme;
        &:hover {
            background-color: $lightThemeSlideHover;
        }
    }
    #display-container, #display-second {
        background-color: $screenBackgroundSecondTheme;
    }
    #display {
        color: $textDarkSecondTheme;
    }
    .keypad {
        background-color: $toggleBackgroundSecondTheme;
        .btn {
            background-color: $keyBackgroundSecondTheme;
            box-shadow: 0px 4px 0px $keyShadowSecondTheme;
            &:active {
                box-shadow: 0px 3px 0px $keyShadowSecondTheme;
            }
        }
        #btn-del, #btn-reset {
            background-color: $keyBackgroundFirstSecondTheme;
            box-shadow: 0px 4px 0px $keyShadowFirstSecondTheme;
            &:active {
                box-shadow: 0px 3px 0px $keyShadowFirstSecondTheme;
            }
            &:hover {
                background-color: $deleteResetButtonHoverSecondTheme;
            }
        }
        #calculate {
            background-color: $keyBackgroundRedSecondTheme;
            box-shadow: 0px 4px 0px $keyShadowRedSecondTheme;
            &:active {
                box-shadow: 0px 3px 0px $keyShadowRedSecondTheme;
            }
            &:hover {
                background-color: $calculateButtonHoverSecondTheme;
            }
        }
    }
}
//Third Theme Styling
.thirdTheme {
   background-color: $mainBackgroundThirdTheme;
   .container {
       h1, p, span {
           color: $textYellowLight;
       }
   }
   .toggle-wrapper {
       background-color: $toggleBackgroundThirdTheme;
   }
   .toggle-slider {
       background-color: $keyBackgroundBlue;
       &:hover {
           background-color: $toggleSliderHoverThirdTheme;
       }
   }
   #display-container, #display-second {
       background-color: $screenBackgroundThirdTheme;
   }
   .keypad {
       background-color: $screenBackgroundThirdTheme;
       .btn.btn-num, .btn.btn-symb {
           color: $textYellowLight;
           &:hover {
               background-color: $numberSymbolsHoverColor;
           }
       }
       .btn {
           background-color: $keyBackgroundThirdTheme;
           box-shadow: 0px 4px 0px $keyShadowThirdTheme;
           &:active {
                box-shadow: 0px 3px 0px $keyShadowThirdTheme;
           }
       }
       #btn-del, #btn-reset {
           background-color: $keyBackgroundFirstThirdTheme;
           box-shadow: 0px 4px 0px $keyShadowFirstThirdTheme;
           &:active {
                box-shadow: 0px 3px 0px $keyShadowFirstThirdTheme;
           }
           &:hover {
               background-color: $resetDelPurpleHoverColor;
           }
       }
       #calculate {
           background-color: $keyBackgroundBlue;
           box-shadow: 0px 4px 0px $keyBackgroundBlueShadow;
           color: $calculateColor;
           &:active {
                box-shadow: 0px 3px 0px $keyBackgroundBlueShadow;
           }
           &:hover {
               background-color: $toggleSliderHoverThirdTheme;
           }
       }
   }
}

.container {
    margin-top: 4px;
    margin-left: 10%;
    @include tablet {
        margin-right: 12%;
        padding-top: 100px;
    }
    @include mobile {
        margin-top: 32px;
        width: 90%;
        margin-right: 40px;
        overflow-x: hidden;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    p {
        letter-spacing: 1px;
    }
    @include mobile {
        margin-top: 1px;
        padding-bottom: 6px;
    }
}

h1 {
    color: $basicWhiteColor;
    margin: 0;
    font-size: $calcFontSize;
    transition: ease 0.5s;
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    color: $basicWhiteColor;
    font-size: $themeFontSize;
    transition: ease 0.5s;
    p {
        margin-top: 10px;
        margin-right: 10px;
        @include mobile {
            padding-top: 20px;
            margin-top: 4px;
        }
    }
}

.toggle-wrapper {
    width: 71px;
    height: 26px;
    border-radius: 50px;
    background: #242D44;
    transition: ease 0.5s;
    display: flex;
    justify-content: space-between;
    position: relative;
    @include mobile {
        margin-top: 16px;
    }
}

.toggle-radio {
    position: absolute;
    left: -99999px;
}
//Toggle number positioning
.toggle-label {
    position: absolute;
    top: -17px;
    font-size: 12px;
    cursor: $customCursor;
    padding: 30px 10px;
    padding-top: 0px;
}

.toggle-label:nth-child(4){
    left: 0px;
}

.toggle-label:nth-child(5){
   left: 19px;
}

.toggle-label:nth-child(6){
   right: 0px;
}
//Toggle slide on click
.toggle-slider {
    position: absolute;
    width: 16px;
    height: 16px;
    background: $darkThemeSliderColor;
    transition: ease 0.5s;
    border-radius: 50px;
    top: 5px;
    transition: all .3s ease;
    cursor: $customCursor;
    &:hover {
        background-color: $darkThemeSliderHover;
    }
}

.toggle-wrapper input:nth-child(1):checked ~ .toggle-slider{
    left: 5px;
}

.toggle-wrapper input:nth-child(2):checked ~ .toggle-slider{
    left: 25px;
}

.toggle-wrapper input:nth-child(3):checked ~ .toggle-slider{
    left: 44px;
}

#display-input, label[for=display-input] {
    position: absolute;
    left: -99999px;
}

#display-container, #display-second {
    width: 100%;
    min-height: 56px;
    background: #181F33;
    transition: ease 0.5s;
    box-sizing: border-box;
    text-align: right;
    padding-top: 24px;
    padding-bottom: 8px;
    border-radius: 12px 12px 0px 0px;
    @include mobile {
        
    }
}

#display-container {
    margin-bottom: 24px;
    border-radius: 12px 12px 12px 12px;
    color: $basicWhiteColor;
    transition: ease 0.5s;
    padding-top: 2px;
    padding-right: 24px;
    height: 128px;
    span {
        position: relative;
        top: 40px;
        font-size: $resultInputFontSize;
        white-space: nowrap;
        @include mobile {
            top: 28px;
        }
    }
    @include mobile {
        height: 88px;
        padding-top: -12px;
        span {
            font-size: $resultInputFontSizeMobile;
        }
    }
}
//Keypad styling
.keypad {
    background: #242D44;
    transition: ease 0.5s;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 24px;
    column-gap: 20px;
    row-gap: 24px;
    border-radius: 12px;
    grid-template-areas:
    "btn btn btn btn"
    "btn btn btn btn"
    "btn btn btn btn"
    "btn btn btn btn"
    "reset reset equal equal";
    @include mobile {
        width: 100%;
        margin-top: 8%;
        row-gap: 16px;
    }
}

#btn-reset {
    grid-area: reset;
    padding-top: 2px;
    &:active {
        transform: scale(0.92);
    }
    @include mobile {
        width: 136px;
    }
}

#calculate {
    width: 227px;
    height: 64px;
    padding-top: 2px;
    font-size: $delResEqualFontSize;
    grid-area: equal;
    color: $basicWhiteColor;
    transition: ease 0.5s;
    background-color: #D03F2F;
    box-shadow: 0px 4px 0px #93261A;
    border-radius: 8px;
    border: none;
    cursor: $customCursor;
    &:hover {
        background-color: #F96B5B;
    }
    &:active {
        box-shadow: 0px 3px 0px #93261A;
        transform: scale(0.92);
    }
    @include mobile  {
        width: 136px;
        font-size: $delResEqualFontSizeMobile;
    }
}

#btn-reset {
    background-color: #647198;
    transition: ease 0.5s;
    color: $basicWhiteColor;
    font-size: $delResEqualFontSize;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 0px #414E73;
    cursor: $customCursor;
    &:hover{
        background-color: #A2B2E1;
    }
    &:active {
        box-shadow: 0px 3px 0px #414E73;
    }
    @include mobile {
        font-size: $delResEqualFontSizeMobile;
    }
}

.btn {
    background-color: #EAE3DC;
    transition: ease 0.5s;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 0px #B3A497;
    &:active {
        box-shadow: 0px 3px 0px #B3A497;
    }
}

.btn.btn-num {
    width: 101px;
    height: 64px;
    color: #434A59;
    transition: ease 0.5s;
    font-size: $resultInputFontSizeMobile;
    font-weight: $mainWeight;
    cursor: $customCursor;
    &:hover {
        background-color: $basicWhiteColor;
    }
    &:active {
        transform: scale(0.80);
    }
    @include mobile {
        width: 60px;
        font-size: $numbersMobileFontSize;
    }
}

.btn.btn-symb {
    color: #434A59;
    transition: ease 0.5s;
    font-size: $resultInputFontSizeMobile;
    font-weight: $mainWeight;
    cursor: $customCursor;
    &:active {
        transform: scale(0.80);
    }
    &:hover {
        background-color: $basicWhiteColor;
    }
    @include mobile {
        width: 60px;
    }
}

#btn-del {
    color: $basicWhiteColor;
    background-color: #647198;
    box-shadow: 0px 4px 0px #414E73;
    transition: ease 0.5s;
    cursor: $customCursor;
    &:hover{
        background-color: #A2B2E1;
    }
    &:active {
        box-shadow: 0px 3px 0px #414E73; 
        transform: scale(0.80);
    }
    @include mobile {
        width: 60px;
        font-size: $delResEqualFontSizeMobile;
    }
}

#btn-reset, #btn-del {
    font-size: 20px;
    padding-top: 6px;
}
